<%- include('partials/header') %> 

<h1> <%= postTitle %> </h1>
<p> <%= postContent %>  </p>
<a class="btn btn-primary btn-sm mr-2" href="/">Home</a><a class="btn btn-sm btn-danger" href="/delete/<%= postID %>">Delete Post</a>

<%- include('partials/footer') %>